/* CSS for resume.html */
* {
    margin: 0;
}

header {
    background-size: 1365px 250px;
    position: fixed;
}

/* background = image behind resume */
.background {
    padding-bottom: 95px;
    text-align: center;
    background-image: url("../images/image-resume.jpg");
    background-size: 1500px 850px;
    position: relative;
    justify-content: center;
    display: flex;
}

.background h1 {
    color: var(--primary-color);
    font-size: 50px;
    position: absolute;
    margin-top: 75px;
}

/* experience = child of background */
.experience {
    margin-top: 150px;
    width: 50%;
    height: 600px;
}

.experience img {
    max-width: 100%;
    border: 10px solid var(--secondary-color);
}  

@media screen and (max-width: 1366px) {

    .background {
        padding-bottom: 16%;
        background-size: 1362px 975px;
    }

}

@media screen and (max-width: 1024px) {

    .background {
        padding-bottom: 34%;
        background-size: 1025px 1300px;
    }

    .background h1 {
        margin-top: 29%;
    }

    .experience {
        margin-top: 35%;
        width: 120%;
    }
  
}

@media screen and (max-width: 768px) {

    .background {
        padding-bottom: 19%;
        background-size: 800px 950px;
    }

    .background h1 {
        margin-top: 18%;
    }

    .experience {
        margin-top: 27%;
    }
}

@media screen and (max-width: 540px) {

    header {
        position: relative;
    }

    .background {
        background-size: 700px 870px;
        padding-bottom: 100px;
    }

    .background h1 {
        margin-top: 15%;
    }

    .experience {
        margin-top: 30%;
    }

    .experience img {
        width: 75%;
    }
}
