/* CSS for resume.html specifically */
* {
    margin: 0;
}

header {
    background-size: 1365px 250px;
    position: fixed;
}

/* background = image behind resume */
.background {
    padding-bottom: 95px;
    text-align: center;
    background: rgb(3,72,143);
    background: radial-gradient(circle, rgba(3,72,143,1) 0%, rgba(80,3,143,1) 50%, rgba(14,3,143,1) 100%);
    position: relative;
    justify-content: center;
    display: flex;
}

.background h1 {
    color: var(--primary-color);
    font-size: 50px;
    position: absolute;
    margin-top: 75px;
}

/* experience = child of background */
.experience {
    margin-top: 150px;
    width: 50%;
    height: 600px;
}

.experience img {
    max-width: 100%;
    border: 10px solid var(--outline);
}  

@media screen and (max-width: 1366px) {

    .background {
        padding-bottom: 16%;
    }

}

@media screen and (max-width: 1024px) {

    .background {
        padding-bottom: 34%;
    }

    .background h1 {
        margin-top: 29%;
    }

    .experience {
        margin-top: 35%;
        width: 120%;
    }
  
}

@media screen and (max-width: 768px) {

    .background {
        padding-bottom: 19%;
    }

    .background h1 {
        margin-top: 18%;
    }

    .experience {
        margin-top: 27%;
    }
}

@media screen and (max-width: 540px) {

    header {
        position: relative;
    }
    
    .main-page-btn { 
        margin-left: 150px;
    }

    .background {
        padding-bottom: 100px;
    }

    .background h1 {
        margin-top: 15%;
    }

    .experience {
        margin-top: 30%;
    }

    .experience img {
        width: 75%;
    }
}

@media screen and (max-width: 414px) {

    .main-page-btn { 
        margin-left: 100px;
    }
}

@media screen and (max-width: 375px) {

    .main-page-btn { 
        margin-left: 87px;
    }
}
