:root {
    --primary-color: white;
    --secondary-color: #25B681;
}

* {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    background-image: url("../images/image-header.jpg");
    background-size: 1350px 250px;
    position: 50%;
    position: fixed;
    z-index: 9999;
    width: 100%;
}

header h1 {
    padding-bottom: 15px; 
    color: var(--primary-color);
}

header nav ul {
    list-style: none;
    display: flex;
    padding-top: 8px;
    justify-content: space-between;
    font-size: 22px;
}

header nav ul a {
    padding: 15px 25px;
    text-decoration: none;
    color: var(--primary-color);
}

.image {
    padding-bottom: 400px;
    position: relative;
    background-image: url("../images/image.jpg");
    background-size: 1350px 700px;
}

.avatar {
    height: 25%;
    position: absolute;
    bottom: 0;
    width: 10%;
    margin-left: 1150px;
    margin-bottom: 25px;
}

.avatar img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    margin-left: 75px;
}

.about-me {
    padding-bottom: 400px;
    background-image: url("../images/image-about-me.jpg");
    background-size: 1350px 550px;  
    position: relative;
    display: flex;
    justify-content: center;
}

.about-me p {
    font-size: 25px;
}

.description {
    margin: auto;
    width: 40%;
    height: 65%;
    position: absolute;
    margin-top: 100px;
}

.description p, .description ul li {
    color: var(--primary-color);
}

.work {
    display: flex;
    justify-content: space-around;
    position: relative;
    background-image: url("../images/image-work.jpg");
    background-size: 1350px 800px;
    padding-bottom: 100px;  
}

.work h2 {
    position: absolute;
}

.built, .debug {
    width: 40%;
    height: 400px;
    margin-top: 100px;
    font-size: 17px;
}

.built img {
    height: 375px;
    margin-top: 15px;
}

.debug img {
    height: 301px;
    margin-top: 15px;
    width: 325px;
}

.built img, .debug img {
    border: 4px solid var(--secondary-color);
}

.contact-me {
    padding-bottom: 400px;
    background-image: url("../images/image-contact-me.jpg");
    background-size: 1350px 500px; 
    display: flex;
    justify-content: center; 
}

.contact-me p {
    font-size: 25px;
    text-align: left;
}

.d-for-contact {
    height: 50%;
    background-image: url("../images/image-d.jpg");
    background-size: 1000px 400px;
    border: 4px solid var(--secondary-color);
}

.contact-me ul li {
    font-size: 25px;
    text-align: left;
}

.about-me, .work, .contact-me h2 {
    text-align: center;
    padding-top: 15px;
    font-size: 50px;
    color: var(--primary-color);
}

footer {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    background-image: url("../images/image-header.jpg");
    background-size: 1350px 250px;
}

footer h2 {
    font-size: 20px;
    color: var(--primary-color);
}

.copy {
    text-align: right;
    color: var(--primary-color);
}

@media screen and (max-width: 980px) {

    body {
       width: 137%;
    }

    header {
        position: relative;
    }

    .image {
        position: relative;
        height: 11%;
        display: flex;
    }

    .avatar {
        position: absolute;
        margin-left: 1080px;
        margin-bottom: 30px;
    }

    .contact-me {
        display: flex;
        position: relative;
    }

    .d-for-contact {
        height: 70%;
        width: 410px;
    }
 
}